body{
   background-color: black;
}
h1{
    color:  rgb(129, 180, 33);
}
h2{
    color:orange;
}  
p{
    color: rgb(18, 61, 179);
}
p1{
    color: cadetblue;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.backImg{
background-image: url('https://images.virgula.me/2010/12/20/223936.jpg');
  background-size: cover;
  background-position: auto;
  background-repeat: no-repeat;
}

div4{
    color:black
}
h4{
    color:red;
    width: 500px;
    height: 250px;
}