body{
   background-color: black;
}
h1{
    color:  white;
}
h2{
    color: white;
}  
p{
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.backImg{
background-image: url('https://images.virgula.me/2010/12/20/223936.jpg');
  background-size: cover;
  background-position: auto;
  background-repeat: no-repeat;
}

div4{
    color:black
}
h4{
    color: black;
}